
@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Join a Classroom</h2>
<h3>@ViewBag.ErrorMessage</h3>

@using (Html.BeginForm("Join", "Classroom", FormMethod.Post))
{

    @Html.AntiForgeryToken();

    <dt>Class Code:</dt>
    <dd>
        <input name="classcode" type="text" />
    </dd>

    <input type="submit" value="Join Class" />
}