@model ClassroomManagementApplication.Models.NewBehaviorViewModel
@using ClassroomManagementApplication.Models
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<h2>Record a new behavior for @Model.Student.studentFirst </h2>

@using (Html.BeginForm("Add", "Behavior", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <dt>Date of Occurence</dt>
    <dd> <input name="bpdate" type="text" class="datepicker" /></dd>

    <dt>Select which behavior</dt>
    <dd>
        <select>
            @foreach (BehaviorType bt in Model.BehaviorTypeList)
            {
                <option>@bt.behaviorTitle, @bt.pointValue.ToString()</option>
            }
        </select>
    </dd>

<input type="submit" value="Record Behavior" />
}