@model ClassroomManagementApplication.Models.BehaviorType
@{
    ViewBag.Title = "Add a Behavior";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">


<h2>Add a New Behavior</h2>

@using (Html.BeginForm("Add", "Behavior", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <dt>Behavior Title:</dt>
    <dd>
        <input name="title" type="text" />
    </dd>
    <dt>Behavior Description:</dt>
    <dd>
        <input name="desc" type="text" />
    </dd>
    <dt>Point Value:</dt>
    <dd>
        <input name="point" type="text" />
    </dd>

    <input type="submit" value="Add Class" />
}

