@model ClassroomManagementApplication.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<head>
    @Styles.Render("~/Content/indexFile.css")
</head>

<div class="index-info">
    <h1>Track Student Behavior</h1>
    @Html.Partial("_LoginPartial")
</div>

@if (Model.userClassroomRole == "Teacher")
{
    <div>
        @Html.ActionLink("New classroom","Add","Classroom")
    </div>
}
else if (Model.userClassroomRole == "Student")
{

}
else if (Model.userClassroomRole == "Parent")
{

}
