@model ClassroomManagementApplication.Models.IndexViewModel
@using ClassroomManagementApplication.Models
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/indexFile.css")
<div class="index-info">
    <h1>Track Student Behavior</h1>
    @Html.Partial("_LoginPartial")
    @if (Request.IsAuthenticated && Model != null)
    {
        if (Model.userClassroomRole == "Teacher")
        {
            <div class="">
                @Html.ActionLink("New classroom", "Add", "Classroom")
                @foreach (Classroom cr in Model.userClassrooms)
                {
                    //TODO check for null classcode
                    <p>@Html.ActionLink(cr.classCode, "Classroom", "Index", new { classcode = cr.classCode })</p>
                }
            </div>
        }
        else if (Model.userClassroomRole == "Student")
        {

        }
        else if (Model.userClassroomRole == "Parent")
        {

        }
    }
</div>