@{
    ViewBag.Title = "Home Page";
}
<head>
    @Styles.Render("~/Content/indexFile.css")
</head>

<div class="index-info">
    <h1>Track Student Behavior</h1>
    @Html.Partial("_LoginPartial")
</div>
