@model ClassroomManagementApplication.Models.ClassroomIndexViewModel
@using ClassroomManagementApplication.Models
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin.Security;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var student = UserBinding.getStudent(User.Identity.GetUserId());
    int i = 0;
}

<div>
    <h1 class="text-center">Student: @User.Identity.Name</h1>
    <h2 class="text-center">Points: @UserBinding.GetPoints(student.StudentID) </h2>
</div>

<div>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Behavior Log</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BehaviorPerformed b in UserBinding.PrintPerformed(student.StudentID))
            {
                <tr>
                    <td>- @UserBinding.BPIDtoDescription(b.BPID)[i].behaviorDescription</td>
                </tr>
                i++;
            }

        </tbody>

    </table>

    
    <button class="text-center btn btn-secondary"  >Request Prize</button>
</div>



