@model ClassroomManagementApplication.Models.ClassroomIndexViewModel
@using ClassroomManagementApplication.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Student: @User.Identity.Name</h1>

