@model ClassroomManagementApplication.Models.ClassroomIndexViewModel
@using ClassroomManagementApplication.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="text-center">Student: @User.Identity.Name</h1>
    <h2 class="text-center">Points: </h2>
</div>

<div>
    <p>Behvaior Log:</p>
    <button>Request Prize</button>
</div>



