@model ClassroomManagementApplication.Models.IndexViewModel
@section scripts {
    <script src="~/Scripts/ManageAccount.js"></script>
}
@{
    ViewBag.Title = "Manage your account settings";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Account Role:
            @if(Model.userClassroomRole == null)
            {
                <div>Please choose a role</div>
            } else
            {
                <div>@Model.userClassroomRole</div>
            }
        </dt>
        <dd>
            <form id="editRoleForm" method="post" action="/Manage/UpdateRole">
                @Html.AntiForgeryToken()
                <container>
                    <select name="roles">
                        <option value="Student">Student</option>
                        <option value="Parent">Parent</option>
                        <option value="Teacher">Teacher</option>
                    </select>
                    <button type="submit">Save</button>
                </container>
            </form>
        </dd>
    </dl>
</div>
